#flyer.blurry
  .logo
  .splash
  .text
    .green
      %p Уважаемые соседи!
    %p Обсуждать с соседями политическую ситуацию — это традиция нашей страны и старинный московский обычай. В этом смысле, выборы мэра Москвы — хороший повод познакомиться и пообщаться.
    %p Мне с этими выборами все понятно: или опять поверить чиновникам и оставить все как есть, или выбрать Навального.
    %p
      Я,&nbsp;
      %span#placeholder_name> Имярек
      , за Навального.
    %p Я знаю все о нем, о его команде, о его борьбе. Даже знаю где он живет (кстати, кто знает, где живет Собянин?)
    %p Хотите поспорить? Давайте поспорим.
    %p Хотите обсудить? Давайте обсудим.
    %p Даже если вы не хотите спорить и вам все понятно без меня, просто знайте: нас, сторонников Алексея Навального, гораздо больше, чем говорят по телевизору и пишут в газетах. И мы — такие же москвичи, как и вы.
    .green 
      %p Мы верим, что произвол и коррупцию можно и нужно победить — и в Москве, и в России.
      %p 8 сентября голосуйте за Алексея Навального!
  .footer
    .contacts{data: @fields}
      %p Если все-таки захотите пообщаться лично:
      #placeholder_contacts
