#panel.blurry
  %button#edit.btn-large.btn{disabled: "disabled"}
    %i.icon-edit
    Изменить данные
  / %button#print.btn-large.btn{disabled: "disabled", onclick: "window.print();"}
  /   %i.icon-print
  /   Печатать
  %button#download.btn-large.btn{disabled: "disabled"}
    %i.icon-download
    Скачать в PDF
= render 'form'
= render 'flyer'
    
