#panel.blurry
  %button#edit.btn{disabled: "disabled"}
    %i.icon-edit
    Изменить данные
  %button#download.pull-right.btn-large.btn.btn-info{disabled: "disabled"}
    %i.icon-download
    Скачать в PDF
  %button#print.pull-right.btn-large.btn.btn-info{disabled: "disabled"}
    %i.icon-print
    Печатать

= render 'form'
= render 'flyer'
    
