#disclaimer
  Если ты не хочешь указывать контакты и общаться напрямую с соседями, не страшно — укажи свое имя и заяви о своей позиции! Пусть они знают, что в подъезде живет человечище, которому есть, что сказать! Твоя листовка — это несколько десятков людей, которые благодаря тебе задумаются о будущем Москвы. Ты можешь поменять введенные данные в любой момент до печати.

#panel.blurry
  %button#edit.btn{disabled: "disabled"}
    %i.icon-edit
    Изменить данные
  %button#download.pull-right.btn-large.btn.btn-info{disabled: "disabled"}
    %i.icon-download
    Скачать в PDF
  %button#print.pull-right.btn-large.btn.btn-info{disabled: "disabled"}
    %i.icon-print
    Печатать

= render 'form'
= render 'flyer'
    
