$c-grey:            #e2e2e2;
$c-green:           #097383;

$default-box-shadow-color: rgba(50,50,50,0.5);
$default-box-shadow-h-offset: 2px; 
$default-box-shadow-v-offset: 2px;
$default-box-shadow-blur: 10px;